* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #151932;
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  // max-width: 640px;
  // margin: 0 auto;
  color: #c9ccea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  // background: #272a55;
  background: radial-gradient(circle, #1e2140 0, #151932 65%);

  a {
    color: #999bad;
  }

  .hidden {
    display: none;
  }

  .pomodoro {
    text-align: center;

    button {
      color: #efefef;
      font-size: .8rem;
      padding: 10px 25px;
      border: none;
      border-radius: 3rem;
      margin: 20px auto;
      background: #0c0e1b;
      min-width: 80px;
      cursor: pointer;
      transition: background-color 300ms ease-in-out;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }

    .timer {
      font-size: 6rem;
      text-align: center;
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 5px;

    }

    .details {
      margin: 20px 0;
    }
  }

  small {
    padding-top: 0.5em;
  }
}

.working {
  .pomodoro button {
    color: #fff
  }
}

.form-container {
  text-align: center;

  button {
    color: #efefef;
    font-size: .8rem;
    padding: .5rem 1.2rem;
    border: none;
    border-radius: 3rem;
    margin: .2rem;
    background: #0c0e1b;
    min-width: 80px;
    cursor: pointer;
  }

  .input-wrapper {
    margin: 1.5rem;
    display: flex;

    input[type=number] {
      -webkit-appearance: textfield;
      appearance: textfield;
      // padding: 3rem;

    }

    .input {
      height: 6rem;
      width: 6rem;
      background-color: #0c0e1b;
      color: #c9ccea;
      border: none;
      border-radius: 50%;
      margin-right: .3rem;
      text-align: center;
      font-size: 14pt;
      outline: none;
    }

    .single-input {
      display: flex;
      align-items: center;
      flex-direction: column;

      small {
        padding-top: 10px;
      }
    }
  }
}